@layer components {
  /* row */
  .row-start {
    @apply flex items-center justify-start;
  }
  .row-end {
    @apply flex items-center justify-end;
  }
  .row-center {
    @apply flex items-center justify-center;
  }
  .row-between {
    @apply flex items-center justify-between;
  }

  /* column */
  .f-col {
    @apply flex flex-col;
  }
  .col-center {
    @apply items-center justify-center f-col;
  }
  .col-start {
    @apply items-start justify-center f-col;
  }
  .col-end {
    @apply items-end justify-center f-col;
  }
  .col-between {
    @apply items-center justify-between f-col;
  }
  .h1 {
    @apply mb-5 text-4xl font-extrabold text-center md:mb-8 md:text-5xl lg:text-7xl;
  }
  .h2 {
    @apply mb-5 text-3xl font-extrabold text-center md:mb-8 md:text-4xl lg:text-5xl;
  }
  .h3 {
    @apply mb-5 text-2xl font-extrabold text-center md:mb-8 md:text-3xl lg:text-4xl;
  }
  .h4 {
    @apply mb-5 text-xl font-extrabold text-center md:mb-8 md:text-2xl lg:text-3xl;
  }
}
